<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>新規作成</title>

    <script src="/assets/js/metrixir.client.js"></script>
    <script src="/assets/js/auto_address.js"></script>
    <script src="/assets/js/dropdown.js"></script>
</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment metrixir">
                        <h1 class="ui aligned header teal">お申込み情報</h1>

                        <form name="userForm" class="ui form" method="post" action="/cardOrder/">

                            <div class="ui horizontal divider">ご本人について</div>

                            <div class="field" th:classappend="${form.hasErrors('kanjiName')} ? 'error'">
                                <label>お名前（漢字）</label>
                                <input type="text" name="kanjiName"placeholder="鈴木太郎" th:value="${form.kanjiName}"/>
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('kanjiName')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('kanjiName')[0]} + ''"></p>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('kanaName')} ? 'error'">
                                <label>お名前（カナ）</label>
                                <input type="text" name="kanaName" placeholder="スズキタロウ" th:value="${form.kanaName}"/>
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('kanaName')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('kanaName')[0]} + ''"></p>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('alphabetName')} ? 'error'">
                                <label>お名前（ローマ字）</label>
                                <input type="text" name="alphabetName" placeholder="Suzuki Taro" th:value="${form.alphabetName}"/>
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('alphabetName')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('alphabetName')[0]} + ''"></p>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('gender')} ? 'error'">
                                <label>性別</label>
                                <input type="radio" name="gender" value="male" th:checked="${form.gender}=='male'"/>男性
                                <input type="radio" name="gender" value="female" th:checked="${form.gender}=='female'"/>女性
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('gender')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('gender')[0]} + ''"></p>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('dayOfBirth')} ? 'error'">
                                <label>生年月日</label>
                                <div class="three fields">
                                <select name="yearOfBirth" size="1" style="width:100px">
                                    <option th:each="i : ${#numbers.sequence(1900, 2000)}" th:value="${i}" th:selected="${form.yearOfBirth}==${i}">
                                        <p th:text="${i}">
                                    </option>
                                </select>年
                                <select name="monthOfBirth" size="1" style="width:100px">
                                    <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:selected="${form.monthOfBirth}==${i}">
                                        <p th:text="${i}">
                                    </option>
                                </select>月
                                <select name="dayOfBirth" size="1" style="width:100px">
                                    <option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}" th:selected="${form.dayOfBirth}==${i}">
                                        <p th:text="${i}">
                                    </option>
                                </select>日
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('zipCode')} ? 'error'">
                                <label>郵便番号</label>
                                <input type="text" class="zipcode" name="zipCode" placeholder="123-4567" th:value="${form.zipCode}"/>
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('zipCode')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('zipCode')[0]} + '。−(ハイフン)も入力してください'"></p>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('address')} ? 'error'">
                                <label>ご住所</label>
                                <input type="text" name="address" placeholder="東京都新宿区西新宿8-17-1" th:value="${form.address}"/>
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('address')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('address')[0]} + ''"></p>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('homePhoneNumber')} ? 'error'">
                                <label>自宅電話番号</label>
                                <input type="text" name="homePhoneNumber" placeholder="03-1234-5678" th:value="${form.homePhoneNumber}"/>
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('homePhoneNumber')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('homePhoneNumber')[0]} + ''"></p>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('mobilePhoneNumber')} ? 'error'">
                                <label>携帯電話番号(任意)</label>
                                <input type="text" name="mobilePhoneNumber" placeholder="090-1234-5678" th:value="${form.mobilePhoneNumber}"/>
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('mobilePhoneNumber')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('mobilePhoneNumber')[0]} + ''"></p>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('emailAddress')} ? 'error'">
                                <label>メールアドレス</label>
                                <input type="text" name="emailAddress" placeholder="tarosuzuki@tis.com" th:value="${form.emailAddress}"/>
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('emailAddress')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('emailAddress')[0]} + ''"></p>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('spouse')} ? 'error'">
                                <label>配偶者有無</label>
                                <input type="radio" name="spouse" value="1" th:checked="${form.spouse}=='1'"/>配偶者あり
                                <input type="radio" name="spouse" value="0" th:checked="${form.spouse}=='0'"/>配偶者なし
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('spouse')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('spouse')[0]} + ''"></p>
                                </div>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('houseClassification')} ? 'error'">
                                <label>お住まい</label>
                                <select name="houseClassification" size="1" style="width:300px">
                                    <option value="自己所有" th:selected="${form.houseClassification}=='自己所有'" >本人名義の一戸建・マンション</option>
                                    <option value="家族所有" th:selected="${form.houseClassification}=='家族所有'" >家族名義の一戸建・マンション</option>
                                    <option value="社宅" th:selected="${form.houseClassification}=='社宅'">社宅</option>
                                    <option value="公営" th:selected="${form.houseClassification}=='公営'">公営住宅</option>
                                    <option value="賃貸" th:selected="${form.houseClassification}=='賃貸'">賃貸マンション</option>
                                    <option value="借家" th:selected="${form.houseClassification}=='借家'">民間団体</option>
                                    <option value="アパート" th:selected="${form.houseClassification}=='アパート'">主婦</option>
                                    <option value="寮下宿" th:selected="${form.houseClassification}=='寮下宿'">寮・下宿</option>
                                    <option value="その他" th:selected="${form.houseClassification}=='その他'">その他</option>
                                </select>

                                    </div>

                            <div class="field" th:classappend="${form.hasErrors('debt')} ? 'error'">
                                <label>ローン等のお借り入れ金額</label>
                                <input type="text" class="number" name="debt"placeholder="0" th:value="${form.debt}"/><span class="unit">万円</span>
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('debt')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('debt')[0]} + ''"></p>
                                </div>
                            </div>
                            <div class="field" th:classappend="${form.hasErrors('income')} ? 'error'">
                                <label>昨年の所得</label>
                                <input type="text" class="number" name="income"placeholder="350" th:value="${form.income}"/><span class="unit">万円</span>
                                <!-- Display Error -->
                                <div class="ui pointing red basic label" th:if="${form.hasErrors('income')}">
                                    <!-- Error Message : form.getErrors("")[0] + "message" -->
                                    <p th:text="${form.getErrors('income')[0]} + ''"></p>
                                </div>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('job')} ? 'error'">
                                <label>ご職業</label>
                            <select name="job" size="1" style="width:300px" onclick="entryChange()">
                                <option disabled selected value>ご職業を選択してください</option>
                                <option value="経営自営" th:selected="${form.job}=='経営自営'" >経営自営</option>
                                <option value="会社員" th:selected="${form.job}=='会社員'">会社員</option>
                                <option value="契約派遣" th:selected="${form.job}=='契約派遣'">契約派遣</option>
                                <option value="公務員" th:selected="${form.job}=='公務員'">公務員</option>
                                <option value="民間団体" th:selected="${form.job}=='民間団体'">民間団体</option>
                                <option value="主婦" th:selected="${form.job}=='主婦'">主婦</option>
                                <option value="学生" th:selected="${form.job}=='学生'">学生</option>
                                <option value="年金受給" th:selected="${form.job}=='年金受給'">年金受給</option>
                                <option value="パートアルバイト" th:selected="${form.job}=='パートアルバイト'">パートアルバイト</option>
                                <option value="他有職" th:selected="${form.job}=='他有職'">その他 (有職）</option>
                                <option value="他無職" th:selected="${form.job}=='他無職'">その他 (無職）</option>
                            </select>
                            </div>
                            <!-- Delete hidden here -->

                            <!-- Job Infomation (Job.html) -->
                            <div class="field" id="jobInfo">
                                <div class="ui horizontal divider">お勤め先について</div>

                                <div class="ui statement">ご職業が「経営・自営業」、「会社員」、「契約・派遣社員」、「公務員」、「民間団体」、「その他（有職）」の方は、以下の項目をご入力ください。</div>

                                <div class="field" th:classappend="${form.hasErrors('employerName')} ? 'error'">
                                    <label>お勤め先名</label>
                                    <input type="text" name="employerName"placeholder="tiscon株式会社" th:value="${form.employerName}"/>
                                </div>
                                <div class="field" th:classappend="${form.hasErrors('employerZipCode')} ? 'error'">
                                    <label>お勤め先郵便番号</label>
                                    <input type="text" name="employerZipCode"placeholder="160-0023" th:value="${form.employerZipCode}"/>
                                </div>
                                <div class="field" th:classappend="${form.hasErrors('employerAddress')} ? 'error'">
                                    <label>お勤め先住所</label>
                                    <input type="text" name="employerAddress"placeholder="東京都新宿区西新宿8-17-1" th:value="${form.employerAddress}"/>
                                </div>
                                <div class="field" th:classappend="${form.hasErrors('employerPhoneNumber')} ? 'error'">
                                    <label>お勤め先電話番号</label>
                                    <input type="text" name="employerPhoneNumber"placeholder="03-1234-5678" th:value="${form.employerPhoneNumber}"/>
                                </div>
                                <div class="field" th:classappend="${form.hasErrors('industryType')} ? 'error'">
                                    <label>業種</label>
                                    <select name="industryType"  size="1" style="width:300px">
                                        <option value="農林水鉱" th:selected="${form.industryType}=='農林水鉱'" >農業・林業・水産業・鉱業</option>
                                        <option value="建築不動産" th:selected="${form.industryType}=='建築不動産'">建設・不動産業</option>
                                        <option value="製造" th:selected="${form.industryType}=='製造'">製造業</option>
                                        <option value="卸小売流通" th:selected="${form.industryType}=='卸小売流通'">卸売業・小売・その他流通業</option>
                                        <option value="金融保険" th:selected="${form.industryType}=='金融保険'">金融・保険業</option>
                                        <option value="運輸通信" th:selected="${form.industryType}=='運輸通信'">運輸・通信業</option>
                                        <option value="電気ガス" th:selected="${form.industryType}=='電気ガス'">電気・ガス業</option>
                                        <option value="官公庁" th:selected="${form.industryType}=='官公庁'">官公庁</option>
                                        <option value="サービス" th:selected="${form.industryType}=='サービス'">その他サービス業</option>
                                        <option value="その他" th:selected="${form.industryType}=='その他'">その他</option>
                                    </select>
                                </div>
                                <div class="field" th:classappend="${form.hasErrors('capital')} ? 'error'">
                                    <label>資本金</label>
                                    <select name="capital"  size="1" style="width:300px">
                                        <option value="999" th:selected="${form.capital}=='999'" >１千万円未満</option>
                                        <option value="4999" th:selected="${form.capital}=='4999'" >１千万円以上５千万円未満</option>
                                        <option value="29999" th:selected="${form.capital}=='29999'" >５千万円以上３億円未満</option>
                                        <option value="30000" th:selected="${form.capital}=='30000'" >３億円以上</option>
                                        <option value="0" th:selected="${form.capital}=='0'" >その他</option>
                                    </select>
                                </div>
                                <div class="field" th:classappend="${form.hasErrors('companySize')} ? 'error'">
                                    <label>お勤め先の規模（従業員数）</label>
                                    <select name="companySize"  size="1" style="width:300px">
                                        <option value="9" th:selected="${form.capital}=='9'" >１０名未満</option>
                                        <option value="29" th:selected="${form.capital}=='29'" >１０名以上３０名未満</option>
                                        <option value="49" th:selected="${form.capital}=='49'" >３０名以上５０名未満</option>
                                        <option value="99" th:selected="${form.capital}=='99'" >５０名以上１００名未満</option>
                                        <option value="499" th:selected="${form.capital}=='499'" >１００名以上５００名未満</option>
                                        <option value="500" th:selected="${form.capital}=='500'" >５００名以上</option>
                                    </select>
                                </div>
                                <div class="field" th:classappend="${form.hasErrors('department')} ? 'error'">
                                    <label>所属部署</label>
                                    <input type="text" name="department"placeholder="人事部" th:value="${form.department}"/>
                                </div>
                                <div class="field" th:classappend="${form.hasErrors('position')} ? 'error'">
                                    <label>役職</label>
                                    <input type="text" name="position"placeholder="部長" th:value="${form.position}"/>
                                </div>
                                <div class="field" th:classappend="${form.hasErrors('employeeLength')} ? 'error'">
                                    <label>勤続年数</label>
                                    <input type="text" class="number" name="employeeLength"placeholder="7" th:value="${form.employeeLength}"/><span class="unit">年</span >
                                </div>

                            </div>
                            <!-- Invalidate Enter Key -->
                            <button class="ui fluid teal button" type="button" onclick="submit();">カードを申し込む</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
